In [60]:
import pandas as pd
import re

In [61]:
data = pd.read_csv("../data/ad_article.csv")

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1049 non-null   int64
 1   0           1049 non-null   object
 2   1           1049 non-null   object
 3   2           1025 non-null   object
 4   3           773 non-null    object
dtypes: int64(1), object(4)
memory usage: 41.1+ KB

In [63]:
data

,Unnamed: 0,0,1,2,3
0,0,[탐방-청담씨티칼리지 요양병원] 여성 암환자 명품 쉼터… 명실상부 회복공간 자리매김,청담씨티칼리지 요양병원 내·외부 모습.\n\n\n요즘 요양병원에 대한 사회적 인식이...,오준엽 쿠키뉴스 기자,NaN
1,1,[수술 잘하는 병원-이대목동병원 심장이식팀] 환자 맞춤형 최적 치료 제공… 수술후 ...,국내 심장 분야 명의로 꼽히는 이대목동병원 심장이식팀 서동만(왼쪽) 흉부외과 교수와...,전미옥 쿠키뉴스 기자,NaN
2,2,알록달록 이국 풍경… ‘부네치아’를 아시나요,일몰·일출… 색다른 부산 여행\n부산 사하구 장림포구가 알록달록한 건물과 일몰로 황...,남호철 여행전문기자,NaN
3,3,용인 ‘수지 스카이뷰 푸르지오’ 4일 본보기집 개관,대우건설은 경기 용인시 수지구 신봉동 ‘수지 스카이뷰 푸르지오’를 분양한다. 지하 ...,주애진 기자(jaj@donga.com),동아일보
4,4,교통-쇼핑-의료 ‘3박자’ 다 갖췄네,[아파트 미리보기]e편한세상 청계 센트럴포레\n대림산업은 서울 동대문구 용두5구역을...,조윤경 기자(yunique@donga.com),동아일보
...,...,...,...,...,...
1044,1044,블록형 단독주택 ‘삼송자이더빌리지’ 주목,전용면적 두배 서비스면적 제공\n전용면적 84㎡→실사용 218㎡\n분양가 7억100...,NaN,NaN
1045,1045,"대림산업, 대구 서구 ‘e편한세상 두류역’ 이달 분양",59~84㎡ 676가구 일반분양\n교통 편리 개발호재도 풍성1년\n\n\n대림산업은...,NaN,NaN
1046,1046,"삼성물산, 부산 ‘래미안 어반파크’ 견본주택 21일 개관",삼성물산은 부산시 부산진구 연지2구역을 재개발하는 ‘래미안 어반파크’<사진> 견본주...,NaN,NaN
1047,1047,서울의 한복판 세운지구…13년만에 새집 선보인다,3구역 ‘힐스테이트 세운’ 스타트\n전용 39~59㎡ 중소형 899가구\n쿼드러플 ...,NaN,NaN
1048,1048,청량리 주상복합 내달 ‘마지막 퍼즐’ 맞춘다,‘청량리역 롯데캐슬 SKY-L65’\n역세권 주상복합 3총사 완성서울\n\n\n서울...,NaN,NaN

In [64]:
txt_lst = []

for title, body, writer, media in zip(data['0'], data['1'], data['2'], data['3']):
    txt = str(title) + str(body) + str(writer) + str(media)
    txt = txt.replace("\n", "")
    txt = txt.replace("\r", "")
    txt = txt.strip()
    txt_lst.append(txt)

In [65]:
txt_lst[-1]

'청량리 주상복합 내달 ‘마지막 퍼즐’ 맞춘다‘청량리역 롯데캐슬 SKY-L65’역세권 주상복합 3총사 완성서울서울 동대문구 청량리역 일대에 들어서는 주상복합의 ‘마지막 퍼즐’로 불리는 ‘청량리역 롯데캐슬 SKY-L65’이 내달 분양시장에 노크한다. 앞서 인근에 분양한 2개 단지가 흥행에 성공한 탓에 일대 마지막 분양주자에 대한 수요자들의 관심도 높아지고 있다.21일 부동산 업계에 따르면 서울 동대문구 전농동 620-47번지(청량리4구역) 재개발을 통해 들어서는 ‘청량리역 롯데캐슬 SKY-L65’는 내달 5일 견본주택을 열고 9일부터 청약일정에 들어간다. 롯데건설 관계자는 “현재 동대문구청의 분양승인을 최종적으로 기다리는 단계”라고 설명했다.지하 7층~지상 최고 65층, 4개동, 1425가구로 지어지는 이 단지는 지난 4월 분양한 ‘청량리역 해링턴플레이스’(40층), ‘청량리역 한양수자인 192’(59층)와 함께 일대 스카이라인을 바꿀 삼총사로 꼽힌다. 특히 청량리역은 지하철 1호선, 분당선, 경춘선, 경의중앙선, KTX 강릉선, ITX청춘 등이 지나는 데 더해 강북횡단선, 면목선, GTX-C노선이 예정됐다는 교통 호재도 있다. 이에 힘입어 앞서 앞서 분양한 2개 단지가 ‘완판’에 성공하면서 이 단지의 등판을 기다리는 수요자도 적지 않았다.청약일정이 구체화하기까진 우여곡절이 많았다. 분양 논의는 지난해부터 오갔지만 조합과의 협의, 분양가 산정 등을 이유로 인허가가 늦어지면서 사업이 지지부진했다. 지난 2월에도 3월 말 일반분양이 거론됐으나 분양가 책정에 시일이 소요되면서 청약일정이 5월로 밀렸다. 이후 이달 중순 입주자 모집 공고 등을 낼 예정이었지만, 기관추천 민원 문제로 내달 첫주로 재공지했다.기다림 끝에 시장에 모습을 드러낸 단지인 만큼 청약결과에도 관심이 모아진다. 분양가는 3.3㎡당 2600만원으로 ‘청량리역 해링턴플레이스’(3.3㎡ 2463만원)와 ‘청량리역 한양수자인 192’(3.3㎡당 2570만원)보다 높은 수준이다. 이들 두 단지의 평균 청약경쟁률은 각각 31.08대 1, 4.64대 1 이었다. 양영경 기자/y2k▶헤럴드경제 구독하고 휴가지원금 100만원 지원 받기▶미리준비하는 여름 최대 70%할인, 헤럴드 리얼라이프 ▶헤럴드경제 사이트 바로가기- Copyrights ⓒ 헤럴드경제 & heraldbiz.com, 무단 전재 및 재배포 금지 -nannan'

In [66]:
ad_df = pd.DataFrame(txt_lst)
ad_df.columns = ['text']
ad_df['label'] = 1.0

additional article

In [67]:
a1 = pd.read_csv("../data/sub_food.csv")
a2 = pd.read_csv("../data/food.csv")
a3 = pd.read_csv("../data/apt.csv")
a4 = pd.read_csv("../data/medical.csv")
a5 = pd.read_csv("../data/President.csv")
a6 = pd.read_csv("../data/minjoo.csv")
a7 = pd.read_csv("../data/tax.csv")

In [68]:
a = pd.concat([a1, a2, a3, a4, a5, a6, a7])

In [69]:
txt_lst = []

for title, body, writer, media in zip(a['0'], a['1'], a['2'], a['3']):
    txt = str(title) + str(body) + str(writer) + str(media)
    txt = txt.replace("\n", "")
    txt = txt.replace("\r", "")
    txt = txt.strip()
    txt_lst.append(txt)

In [70]:
temp = pd.DataFrame(txt_lst, a['label']).reset_index()
temp.columns = ['label', 'text']

In [71]:
temp = temp.dropna().reset_index(drop = True)

In [72]:
merge_df = pd.concat([ad_df, temp])

In [73]:
merge_df.value_counts('label')

label
1.0    1268
0.0     830
dtype: int64

In [ ]:
merge_df.to_csv("../data/dataset.csv")

Data Split

In [44]:
test = merge_df.sample(frac = 0.1, random_state=42)
train = merge_df.drop(test.index)

In [47]:
print(len(test), len(train))
print(test.value_counts('label'), train.value_counts('label'))

210 1708
label
1.0    123
0.0     87
dtype: int64 label
1.0    1037
0.0     671
dtype: int64

In [59]:
train.to_csv("../data/train.csv")
test.to_csv("../data/test.csv")